In [ ]:
a="Hello World"
print(a[0:2]+ a[9:11])
#1

Held

In [ ]:
a="hello"
b="world"
print(a.capitalize()+" " +b.capitalize())
#2

Hello World

In [ ]:
def change_sring(str1):
      return str1[-1:] + str1[1:-1] + str1[:1]
	  
print(change_sring('abcd'))
print(change_sring('12345'))
#4

dbca
52341

In [ ]:
a="alma"
b=a[2:5]
print(5*b)
#5

mamamamama

In [ ]:
def string(str1):
  length = len(str1)

  if length > 2:
    if str1[-3:] == 'ing':
      str1 += 'ly'
    else:
      str1 += 'ing'

  return str1
print(string('ab'))
print(string('abc'))
print(string('string'))
#3

ab
abcing
stringly

In [ ]:
# Get two strings as input
string1 = input("Enter the first string: ")
string2 = input("Enter the second string: ")

# Swap the first two characters of each string
new1 = string2[:2] + string1[2:]
new2 = string1[:2] + string2[2:]

# Concatenate the two strings with a space in between
result = new1 + " " + new2

# Print the final result
print("Result:", result)

Enter the first string: hello
Enter the second string: world
Result: wollo herld

In [ ]:
my_list=[22,34,76,84]
a=sum(my_list)
print (a)
#gives sum

216

In [ ]:
my_list=[22,34,76,84]
a=len(my_list)
print(a)
#prints length

4

In [ ]:
my_list=[22,34,76,84]
my_list1=[22,34,76,84,"book"]
list2=['zoo', 'book' , 'table']
a=my_list + my_list1
b=min(my_list)
c=min(list2)
print(a)
print(b)
print(c)

[22, 34, 76, 84, 22, 34, 76, 84, 'book']
22
book

In [ ]:
list1=[22,34,76,84]
del list1[2]
print(list1)

[22, 34, 84]

In [ ]:
a='book'
b=list(a)
print(b)

['b', 'o', 'o', 'k']

In [ ]:
a='Azerbaijan'
b=a.split('a')
print(b)

['Azerb', 'ij', 'n']

In [ ]:
list1=[22,34,22,76,84,22,45,73,34]
b=list1.count(22)
print(b)

3

In [ ]:
list1=[22,76,84,22,45,73,34]
list1.append(55)
print(list1)

[22, 76, 84, 22, 45, 73, 34, 55]

In [ ]:
list1=[22,34,76,22,34,22,84]
list1.reverse()
print(list1)

[84, 22, 34, 22, 76, 34, 22]

In [ ]:
list1=[22,34,76,22,34,22,84]
a = list1.index(76)
print(a)

2

In [ ]:
my_list = [1, 2, 3, 4, 5] 
total = 0
for num in my_list:
    total += num
print("The sum:", total)

The sum: 15

In [ ]:
#3 APRiL 2023

In [ ]:
#2
list1 = [1, 3, 5, 7, 9]
list2 = [1, 2, 4, 6, 7, 8]

diff = set(list1) - set(list2)

print(list(diff))

[9, 3, 5]

In [ ]:
#3
list1 = [1, 2, 3, 0]
list2 = ['red', 'green', 'black']

list1.extend(list2)

print(list1)

[1, 2, 3, 0, 'red', 'green', 'black']

In [ ]:
#5
list1=[1,2,3,4,5,6,7,8,9]
a = list1.index(6)
print(a)

5

In [ ]:
#6
list = [10, 30, 20, 50, 40]

largest = max(list)

print(largest)

50

In [ ]:
#7
wordlist = ['apple', 'banana', 'cherry', 'mango' , 'durian', 'elderberry']
n = 6

long_words = [word for word in wordlist if len(word) > n]

print(long_words)

['elderberry']

In [ ]:
# 1
square_list = [i*i for i in range(1, 6)] + [i*i for i in range(6,31)]

first_5 = square_list[:5]
last_5 = square_list[-5:]

print("The first 5:", first_5)
print("The last 5:", last_5)

The first 5: [1, 4, 9, 16, 25]
The last 5: [676, 729, 784, 841, 900]

In [ ]:
#4
list = [i**2 for i in range(6, 31)]
first_5 = list[:5]
last_5 = list[-5:]

print("The first 5:", first_5)
print("The last 5:", last_5)

The first 5: [36, 49, 64, 81, 100]
The last 5: [676, 729, 784, 841, 900]

In [ ]:
#8
def common_member(list1, list2):
    for item in list1:
        if item in list2:
            return True
    return False

list1 = [1, 2, 3, 4, 5]
list2 = [4, 6, 7, 8, 9]

if common_member(list1, list2):
    print("have at least one common member.")
else:
    print("do not have any common members.")

have at least one common member.

In [ ]:
#Hometask

In [ ]:
# 1  2  3
# 4  5  6
# 7  8  9

#we need to print [1  2  3]
a=[[1,2,3],
   [4,5,6],
   [7,8,9]]
for i in range(2):
  for j in range(3):
    if i==j or i+j==2 :
      print(a[i][j])
print()

1
3
5

In [ ]:
#10.04.2023

In [ ]:
#1
def swap(input_str):
    if len(input_str) <= 1:
        return input_str
    else:
        return input_str[-1] + input_str[1:-1] + input_str[0]

input_str = input("Enter a string: ")
swapped_str = swap(input_str)

print("Original String: ", input_str)
print("Swapped String: ", swapped_str)

Enter a string: salam
Original String:  salam
Swapped String:  malas

In [ ]:
#2
n = int(input("integer: "))
nn = n * 11
nnn = n * 111

cem = n + nn + nnn

print("n + nn + nnn = ", cem)

integer: 5
n + nn + nnn =  615

In [ ]:
#3
def check_dup(lst):
    for i in range(1, len(lst)):
        if lst[i] == lst[i-1]:
            return True
    return False
list = [1, 2, 3, 4, 5, 6]
if check_dup(list):
    print("two same numbers")
else:
    print("no two same numbers")

There are no two same numbers in a row.

In [ ]:
#4
def check_sum(lst):
    ilk = lst[0]
    son = lst[-1]
    other= sum(lst[1:-1])
    if ilk + son > other:
        return "greater than the sum of all other numbers."
    elif ilk + son < other:
        return "smaller than the sum of all other numbers."
    else:
        return "equal to the sum of all other numbers."

my_list = [1, 2, 3, 4, 5]
result = check_sum(my_list)
print(result)

smaller than the sum of all other numbers.

In [ ]:
#5
def change(lst):
    for i in range(len(lst)):
        if isinstance(lst[i], int):
            lst[i] = str(lst[i]) + '0' + str(lst[i])
    return lst

list = [1, 2, 3, 4, 5]
list1 = change(list)
print(list)

['101', '202', '303', '404', '505']

In [ ]:
#6
def mean_and_difference(lst):
    mean = sum(lst) / len(lst)
    diff = mean - max(lst)
    return mean, diff

list = [1, 2, 3, 4, 5]
mean, diff = mean_and_difference(list)
print("Mean:", mean)
print("Difference:", diff)

Mean: 3.0
Difference: -2.0

In [ ]:
list= [ [5,4,3] ,
        [2,1,6] ,
        [9,7,8] 
      ]
a=0
while a<=2 :
  b=0
  while b<=2 :
    if a==b :
      print (list[a][b], end=" ")
    b+=1
  a+=1

5 1 8

In [ ]:
list= [ [5,4,3] ,
        [2,1,6] ,
        [9,7,8] 
      ]
for i in range (3) :
  for j in range (3) :
   if i==j :
     print (list[i][j])

5
1
8

In [ ]:
list= [ [5,4,3] ,
        [2,1,6] ,
        [9,7,8] 
      ]
j=2
for i in range (3) :
  print (list[i][j-i])

3
1
9

In [ ]:
list= [ [5,4,3] ,
        [2,1,6] ,
        [9,7,8] 
      ]
i=2
for j in range (3) :
  print (list[j-i][i])

6
8
3

In [ ]:
list= [ [5,4,3] ,
        [2,1,6] ,
        [9,7,8] 
      ]
for i in range (2,-1,-1) :
 for j in range (2,-1,-1) :
  if i==j :
    print (list[i][j])

8
1
5

In [ ]:
#1
def factorial(n):
  if n==0 :
    return 1
  else :
    return n*factorial(n-1)
print(factorial(4))

24

In [ ]:
#2
def uniquelist(lst):
  return list(set(lst))
sample=[1,2,3,3,3,3,4,5]
uniquelist= uniquelist(sample)
print(uniquelist)

[1, 2, 3, 4, 5]

In [ ]:
#2 but with the method of append
def uniquelist(lst):
    uniquelst = []
    for element in lst:
        if element not in uniquelst:
            uniquelst.append(element)
    return uniquelst
sample = [1, 2, 3, 3, 3, 4, 5]
uniquelist = uniquelist(sample)
print(uniquelist)

[1, 2, 3, 4, 5]

In [ ]:
#3
num=7
for i in range (2,num):
  if num % i == 0 :
    print("not prime")
    break
else :
  print("prime")

prime

In [ ]:
def find_division(lst):
  m=0
  n=0
  for x in range (len(lst)):
    if x% 2 == 0 :
      m=m+ lst[x]
    else :
      n= n + lst[x]
      division = m/n
lst = [1,2,3,4,5]
print (find_division (lst))

None